<footer class="absolute bottom-0 flex w-full items-center p-5">
    <div class="container">
        <div class="relative bottom-0 left-0 -mx-4 flex items-center justify-between">
            <div class="w-full px-4">
                <div class="w-full">
                    <div class="w-70 max-w-full text-white">
                        <a href="/" class="block text-3xl w-full py-3">
                            <strong>kookaburra 🪶</strong>
                        </a>
                    </div>
                    <a
                    href="/"
                    class="inline-block max-w-[160px] py-3"
                    >
                        <p class="text-base text-[#f3f4fe]">
                            Chat with your data!
                        </p>
                    </a>
                    <div class="-mx-3 flex items-center">
                    <a
                        href="https://docs.kookaburra.codes"
                        target="_blank"
                        class="px-3 text-[#dddddd] hover:text-white"
                    >
                        <p>Docs</p>
                    </a>
                    <a
                        href="https://twitter.com/kookaburracodes"
                        target="_blank"
                        class="px-3 text-[#dddddd] hover:text-white"
                    >
                        <p>Twitter</p>
                    </a>
                    <a
                        href="https://github.com/kookaburracodes"
                        target="_blank"
                        class="px-3 text-[#dddddd] hover:text-white"
                    >
                        <p>GitHub</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
